SYSTEM_V2_n8n_workflows_JSON/workflows/WF10_Knowledge_Ingestion.json
{
  "name": "WF10 — Knowledge Ingestion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "system-v2/knowledge-ingest",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7804ac53-1319-4ff6-adeb-384e255667e9",
      "name": "Webhook Ingest",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        0
      ],
      "webhookId": "a6d3957a-6f67-4b0c-bba3-fdbf90feae67"
    },
    {
      "parameters": {
        "jsCode": "const b=$json.body??$json; return [{partner_id:b.partner_id||'', title:b.title||'Untitled', type:b.type||'text', raw_text:b.raw_text||''}];"
      },
      "id": "5e065f26-8d75-47a9-b6dd-5c2ceb22293d",
      "name": "Normalize Source",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/knowledge_sources'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {partner_id:$json.partner_id, title:$json.title, type:$json.type} }}"
      },
      "id": "fb504521-c52a-47c1-bda2-46a192975224",
      "name": "Insert Source",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -450,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const source = Array.isArray($json.body)?$json.body[0]:$json.body?.[0];\nconst raw = $('Normalize Source').item.json.raw_text || '';\nconst chunks = raw.match(/([\\s\\S]{1,1200})(\\s|$)/g) || [raw];\nreturn chunks.filter(Boolean).map((content, idx) => ({source_id:source.id, content:content.trim(), metadata:{chunk_index:idx}}));"
      },
      "id": "3d03af8d-6266-433d-a559-4fe614686bd9",
      "name": "Chunk Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/knowledge_chunks'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "9efcb52f-b7fd-4a82-91bc-653acd03b30c",
      "name": "Insert Chunks",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        10,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {ok:true} }}",
        "options": {}
      },
      "id": "455c43fc-2946-4000-8100-d2bf1efb6e22",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        240,
        0
      ]
    }
  ],
  "connections": {
    "Webhook Ingest": {
      "main": [
        [
          {
            "node": "Normalize Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Source": {
      "main": [
        [
          {
            "node": "Insert Source",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Source": {
      "main": [
        [
          {
            "node": "Chunk Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Text": {
      "main": [
        [
          {
            "node": "Insert Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Chunks": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "template": "SYSTEM_V2_v1"
  },
  "versionId": "1ed9a035-cc4c-46b0-b85e-45cc0a2546ed"
}