SYSTEM_V2_n8n_workflows_JSON/workflows/WF4_AI_Recommendation_to_Task.json
{
  "name": "WF4 — AI Recommendation to Task",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 2
            }
          ]
        }
      },
      "id": "bf613b97-104d-49dd-816f-4c190b5eec31",
      "name": "01_Schedule_Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -800,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/ai_recommendations?select=*&recommendation_type=eq.qualification&processed_at=is.null&order=created_at.asc&limit=20'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        }
      },
      "id": "ff2a1763-07a6-4132-8cdc-be4cc3b04854",
      "name": "10_Fetch_Recommendations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -580,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const recs = Array.isArray($json.body) ? $json.body : [];\nreturn recs.map(r => ({\n  rec_id: r.id,\n  partner_id: r.partner_id,\n  lead_id: r.target_id,\n  title: `AI: ${(r.recommendation_payload && r.recommendation_payload.next_action) || 'Follow up'}`\n}));"
      },
      "id": "3c4271f3-a514-4d76-b7f4-71c131d2ab65",
      "name": "20_Map_Recs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/tasks'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"partner_id\": {{ JSON.stringify($json.partner_id) }},\n  \"lead_id\": {{ JSON.stringify($json.lead_id) }},\n  \"title\": {{ JSON.stringify($json.title) }},\n  \"type\": \"other\",\n  \"source\": \"ai\"\n}"
      },
      "id": "11467c54-cdd6-463a-9e32-bf6c238140bb",
      "name": "30_Insert_Task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -140,
        0
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/ai_recommendations?id=eq.' + $('20_Map_Recs').item.json.rec_id}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"processed_at\": {{ JSON.stringify(new Date().toISOString()) }}\n}"
      },
      "id": "d8e9f1a2-3b4c-5d6e-7f80-9a0b1c2d3e4f",
      "name": "40_Mark_Processed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/events_log'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"entity_type\": \"ai_recommendation\",\n  \"entity_id\": {{ JSON.stringify($('20_Map_Recs').item.json.rec_id) }},\n  \"event\": \"wf4_task_created_from_ai\",\n  \"actor\": \"system\"\n}"
      },
      "id": "172a5c6a-5315-46f6-bd6e-47691377ed0a",
      "name": "50_Log_Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        300,
        0
      ]
    }
  ],
  "connections": {
    "01_Schedule_Trigger": {
      "main": [
        [
          {
            "node": "10_Fetch_Recommendations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "10_Fetch_Recommendations": {
      "main": [
        [
          {
            "node": "20_Map_Recs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "20_Map_Recs": {
      "main": [
        [
          {
            "node": "30_Insert_Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30_Insert_Task": {
      "main": [
        [
          {
            "node": "40_Mark_Processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "40_Mark_Processed": {
      "main": [
        [
          {
            "node": "50_Log_Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "template": "SYSTEM_V2_v1"
  },
  "versionId": "wf4-v2-2026-05-04"
}
