SYSTEM_V2_n8n_workflows_JSON/workflows/WF5_Inbound_Message_Capture.json
{
  "name": "WF5 — Inbound Message Capture",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "system-v2/inbound-message",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b44ea180-aca9-4e8f-84a2-33a09175514f",
      "name": "Webhook Inbound",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -900,
        0
      ],
      "webhookId": "bba9514b-ad58-49a3-a873-66fabc0b6639"
    },
    {
      "parameters": {
        "jsCode": "const b=$json.body??$json; return [{partner_id:b.partner_id||'', channel:b.channel||'whatsapp', external_message_id:b.external_message_id||'', from_address:b.from||'', to_address:b.to||'', body:b.body||'', direction:'inbound'}];"
      },
      "id": "f7328d17-978d-4e71-a1e1-3264cda32975",
      "name": "Normalize Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -680,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/inbound_messages'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "d1e4c99d-cd69-43c8-9219-169fbbf42a37",
      "name": "Insert Inbound",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -430,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const msg = Array.isArray($json.body)?$json.body[0]:$json.body?.[0]; return [{message_id:msg.id, partner_id:msg.partner_id, body:msg.body}];"
      },
      "id": "dc2245d3-9988-444b-ae75-e6f107185153",
      "name": "Extract Message Id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/ai_jobs'}}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {partner_id:$json.partner_id, job_type:'generate_reply', target_type:'inbound_message', target_id:$json.message_id, status:'queued'} }}"
      },
      "id": "b6ac4a7d-4e9b-4e27-80a4-9ffc4b2732dc",
      "name": "Create AI Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        30,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {ok:true, message_id:$json.message_id} }}",
        "options": {}
      },
      "id": "896d98a3-f235-4785-bcdc-f3bbaf6cfdc3",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        270,
        0
      ]
    }
  ],
  "connections": {
    "Webhook Inbound": {
      "main": [
        [
          {
            "node": "Normalize Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Message": {
      "main": [
        [
          {
            "node": "Insert Inbound",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Inbound": {
      "main": [
        [
          {
            "node": "Extract Message Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Message Id": {
      "main": [
        [
          {
            "node": "Create AI Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create AI Job": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "meta": {
    "template": "SYSTEM_V2_v1"
  },
  "versionId": "e546c745-79eb-4488-ad7b-0a2379fc0743"
}